body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navs{
  color: rgb(250, 247, 243);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  text-decoration: none;

}
.navs:hover{
  color: rgb(243, 174, 174);
}
span{
  font-weight: bold;
}
.Card{
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
  margin-right: 15px;
}
.Card:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.5);
}
